<?xml version="1.0"?>
<config>	
	<modules>
	<Ho_SimpleBundle>
		<version>0.1.0</version>
	</Ho_SimpleBundle>
    </modules>

	<global>
		<blocks>
			<ho_simplebundle>
				<class>Ho_SimpleBundle_Block</class>
			</ho_simplebundle>

            <bundle>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_bundle_option>Ho_SimpleBundle_Block_Adminhtml_Catalog_Product_Edit_Tab_Bundle_Option</adminhtml_catalog_product_edit_tab_bundle_option>
                    <adminhtml_catalog_product_edit_tab_bundle_option_selection>Ho_SimpleBundle_Block_Adminhtml_Catalog_Product_Edit_Tab_Bundle_Option_Selection</adminhtml_catalog_product_edit_tab_bundle_option_selection>
                </rewrite>
            </bundle>
		</blocks>
        <helpers>
            <ho_simplebundle>
                <class>Ho_SimpleBundle_Helper</class>
            </ho_simplebundle>
        </helpers>
        <models>
            <ho_simplebundle>
                <class>Ho_SimpleBundle_Model</class>
            </ho_simplebundle>
            <bundle>
                <rewrite>
                    <product_type>Ho_SimpleBundle_Model_Bundle_Product_Type</product_type>
                </rewrite>
            </bundle>
        </models>
        <catalog>
            <product>
                <options>
                    <bundle>
                        <types>
                            <fixed translate="label" module="ho_simplebundle">
                                <label>Simple</label>
                            </fixed>
                        </types>
                    </bundle>
                </options>
            </product>
        </catalog>
	</global>
    <frontend>
   		<layout>
   			<updates>
   				<ho_simplebundle module="ho_simplebundle">
   					<file>ho/simplebundle.xml</file>
   				</ho_simplebundle>
   			</updates>
   		</layout>
   	</frontend>
    <adminhtml>
        <layout>
            <updates>
                <ho_simplebundle module="ho_simplebundle">
                    <file>ho/simplebundle.xml</file>
                </ho_simplebundle>
            </updates>
        </layout>
    </adminhtml>
</config>
